// @import "./tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
#__next {
    height: 100vh;
    width: 100%;
}
@layer components {
    .button {
        @apply px-4 py-2 transition duration-150 
        ease-out transform border rounded-full 
        cursor-pointer hover:shadow-lg 
        active:scale-95 active:bg-gray-100;
    }
}
@import "./searchlist";
